<?php
define("WMDB", "C:/Users/operator/0/myBooks/MD-WIKI-BOOK"); // Каталог WiKi

define("DIR_INDEX", "dirinfo.md");                          // directory index
define("ICO_DIR", "<span class=\"icon\">&#128193;</span>"); // Иконка папки
define("ICO_TXT", "<span class=\"icon\">&#128196;</span>"); // Иконка текстового документа
define("ICO_PIC", "<span class=\"icon\">&#127745;</span>"); // Иконка изображения

